.wrapper{
    width:1350px;
    margin:0 auto;
}

.table-results{
    width:800px;
    display: inline-block;
}

.table-results th, .tableD .tableSearch{
    width:20px;
}

.btn btn-navbar{

}

.add{
    width:420px;
    float:left;
}

.navbar{
    margin: 0 auto;
}

.navbar .container{
    margin: 0 auto;
    width: 472px;
}