<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.springapp.mvc.footballStats.model.Player" />
        <mapping class="com.springapp.mvc.footballStats.model.Play" />
        <mapping class="com.springapp.mvc.footballStats.model.PlayResult" />
        <mapping class="com.springapp.mvc.footballStats.model.User" />
        <mapping class="com.springapp.mvc.footballStats.model.UserRole" />
        <mapping class="com.springapp.mvc.footballStats.model.PlayerStat" />
        <mapping class="com.springapp.mvc.footballStats.model.Game" />
    </session-factory>
</hibernate-configuration>